<% include ./partials/bg %>
<div class="center">
  <h1>NextWorks Limited Academy</h1>

  <h4>An establishment for young programmers</h4>
  <p>Aspiring to be web developer, UI/UX designer or perhaps learn solar and cctv installation. Hurry now and join the
    community in the next training scheduled in October 2021.</p>
  <br>
  <h4>Check if you are registered
    <a href="/users" class="btn blue">Check</a></h4>
  <p>Create an account or login</p>
  <a href="/users/register" class="btn green">Register</a>
  <a href="/users/login" class="btn blue">Login</a>
</div>